@import "reset";
@import "colors";
@import "mixins";
@import "../components/atoms/button/button";
@import "../components/atoms/sidebarToggle/sidebarToggle";
@import "../components/atoms/darkModeToggle/darkModeToggle";
@import "../components/organisms/body/body";
@import "../components/organisms/footer/footer";
@import "../components/organisms/navbar/navbar";
@import "../components/organisms/sidebar/sidebar";
@import "../components/templates/appLayout/appLayoutContainer";
// IMPORT NEW STYLE FILE

:root {
  color-scheme: light dark;
}

html,
body {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
