$primary: #007bff;
$secondary: #6c757d;
$light: #B6BBC4;
$success: #28a745;
$danger: #dc3545;
$warning: #ffc107;
$info: #17a2b8;
$dark-purple: #31304D;
$gray-800: #343a40;
$gray-600: #52575D;
$gray-700: #41444B;
$yellow-600: #FDDB3A;



