$primary: #007bff;
$secondary: #6c757d;
$light: #b6bbc4;
$success: #28a745;
$danger: #dc3545;
$warning: #ffc107;
$info: #02c9d6;
$dark-purple: #31304d;
$gray-900: #212125;
$gray-800: #343a40;
$gray-500: #535a60;
$gray-600: #52575d;
$gray-700: #41444b;
$yellow-600: #fddb3a;
