.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  width: 100%;
  color: $gray-800;
  background-color: $light;
}

@include theme-colors(footer, $gray-800, $info);
