.button {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  background-color: #343a40;

  &:hover {
    background-color: #535a60;
  }
}

.button-light {
  background-color: transparent;
}
