.sidebar {
  display: flex;
  width: 20%;
  height: 100%;
  padding: 10px;
  color: $gray-800;
  background-color: $light;
}

.sidebar.hide {
  display: none;
}


@include theme-colors(sidebar, $gray-500, $info);
